/* -------------general and logo----------------- */
:root {
  --accent-color: #2196f3;
  --normal-color: #ffffff;
  --primary-color: #212121;
  --minor-color: #757575;
  --secondary-color: #f5f4fa;
  --team-list-gap: 30px;
  --team-list-items-row-count: 4;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-dark {
  color: #000000;
}

.logo-light {
  color: var(--normal-color);
}

.site-nav {
  margin-left: 93px;
}

.site-nav {
  display: flex;
}

.otherpages-list {
  display: flex;
}

.contacts-list {
  display: flex;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  font-size: 14px;
}

.headsite {
  background-color: #757575;
  padding-top: 24px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.button {
  font-family: inherit;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
/* -------visually-hidden-title--------- */
.benefits-title,
.examples-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* -----------------header-------------------- */
.otherpages-link,
.contacts-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
  display: block;
}

.contacts-link {
  font-style: normal;
  color: var(--minor-color);
}

.current {
  color: var(--accent-color);
}

/* ----------------hero----------------- */
.hero {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--normal-color);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hero-button {
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--normal-color);
  background-color: var(--accent-color);
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
}
.hero-button:hover,
.hero-button:focus {
  color: var(--normal-color);
  background-color: #188ce8;
}
/* -----------section styles-------------- */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title {
  margin-top: 0;
  margin-bottom: 50px;
}

/* -----------benefits-------------- */

.benefits-subtitle {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
.benefits-list {
  display: flex;
}
.benefits-item:not(:last-child) {
  margin-right: 30px;
}

.benefits-ph {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--minor-color);
  margin-top: 0;
  margin-bottom: 0;
}

/*-----------------what-we-do--------*/

.what-we-do-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.what-we-do {
  padding-top: 0;
}
.what-we-do-list {
  display: flex;
}
/* ----------------team----------*/
.our-team {
  background-color: var(--secondary-color);
}
.our-team-list {
  display: flex;
  gap: var(--team-list-gap);
}

.our-team-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team-ph {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--minor-color);
}

/* ----------------footer-------------------- */
.footsite {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address-link {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--normal-color);
}

.mail-and-phone-link {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* -------------PORTFOLIO-------------- */
.filters-button {
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: inherit;
  background-color: var(--secondary-color);
}

.filters-button:hover,
.filters-button:focus {
  color: var(--normal-color);
  background-color: var(--accent-color);
}

.examples-subtitle {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples-ph {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--minor-color);
}
